<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirm Discard Changes</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to discard your changes?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary-M" data-bs-dismiss="modal">Cancel</button>
      <button id="deck-clear-btn" type="button" class="btn btn-primary-M" data-bs-dismiss="modal">Yes</button>
    </div>
  </div>
</div>
