<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="createDeckLabel">Please enter a new name for your deck.</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <input id="editDeckName" type="text" class="form-control" placeholder="Enter new deck name" aria-label="DeckName" aria-describedby="basic-addon1">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary-M" data-bs-dismiss="modal">Cancel</button>
            <button id="deck-rename-btn" type="button" class="btn btn-primary-M" data-bs-dismiss="modal">Save deck name</button>
        </div>
    </div>
</div>