<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirm SAVE</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to save your current deck list?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary-M" data-bs-dismiss="modal">I forgot something!</button>
      <button id="decklist-save-btn" type="button" class="btn btn-primary-M" data-bs-dismiss="modal">Yes, save it!</button>
    </div>
  </div>
</div>
