<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirm DELETE</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to delete this deck? This cannot be undone.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary-M" data-bs-dismiss="modal">No!</button>
      <button id="deleteDeckbtn" type="button" class="btn btn-primary-M" data-bs-dismiss="modal">DELETE</button>
    </div>
  </div>
</div>