{{!-- <div class="modal fade" id="sign-out-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true"> --}}
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirm Sign Out</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to sign out?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary-M" data-bs-dismiss="modal">No! I'm not done!</button>
        <button id="signoutOkay" type="button" class="btn btn-primary-M" data-bs-dismiss="modal">Yes, I'm sure!</button>
      </div>
    </div>
  </div>
{{!-- </div> --}}