<header class="container-fluid">
    <h1 class="display-2 text-center">MTG++ Deck List</h1>
    <!-- Fun MTG card quotes, possibly make it a random quote each time the page is loaded / refreshed -->
    <p class="text-end mp3-hex">"That's a lotta nuggets." - Jaya Ballard, Task Mage</p>
</header>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Wizards of the Cache</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-row-reverse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a href="/decks" id="my-decks" class="nav-link px-5">My Decks</a>
                <a href="#" id="sign-out" class="nav-link" data-bs-toggle="modal" data-bs-target="#sign-out-modal">Sign Out</a>
            </div>
        </div>
    </div>
</nav>
<main class="d-flex flex-sm-column flex-md-column flex-lg-row">
    <aside id="side-nav" class="mx-4 my-4 d-flex flex-column">
        <!-- Search Field -->
        <div class="card custom-card">
            <div class="card-body">
                <h5 class="card-title text-center search-title">Search:</h5>
                <form id="card-submit" class="ui-widget">
                    <input id="card-search" class="text-center input-field" type="text" placeholder="Card Name">
                    {{!-- dynamically created results --}}
                </form>
            </div>
        </div>
        <!-- Card Art Preview -->
        <div class="card custom-card">
            <div class="card-body art-card d-flex">
                <h5 id="card-name" class="card-title text-center search-title"></h5>
                <img src="" id="card-art-results"/>
            </div>
        </div>
    </aside>
    <!-- Deck List -->
    <section id="deck-list" class="mx-4 my-4 d-flex justify-content-end">
        <div class="card deck-list-body">
            <!-- Deck Title -->
            <div class="card-body">
                <h5 id="deck-title" class="card-title text-center list-title">{{deck_name}}
                    <span>
                        <button class="edit-deck-name deck-list-btns" title="Edit My Deck">
                            <iconify-icon icon="fa-regular:edit"></iconify-icon>
                        </button>
                    </span>
                </h5>
                <!-- Delete and Save buttons -->
                <div class="btn-group">
                    <button id="save-deck" class="save-deck deck-list-btns" title="Save My Changes">
                        <iconify-icon icon="fluent:save-arrow-right-24-filled"></iconify-icon>
                    </button>
                    <button id="clear-deck" class="clear-deck deck-list-btns" title="Clear My Changes">
                        <iconify-icon icon="fluent:delete-off-20-regular"></iconify-icon>
                    </button>
                </div>
            </div>
            <!-- Added Cards -->
            <div id="card-list" class="card-body card-lists d-flex flex-wrap">
                <!-- will need to add logic that creates a list based on the type of card selected... This list will also have the number of a certain card added to it, within... All these lists are set up to wrap inherently... Also, if the space exceeds the available space, a scrollbar will appear, instead of making the page larger -->
                {{!-- <ul class="no-list">
                    <h5 class="card-type">Type 1</h5>
                    <li class="added-card">Card Name <span class="card-count">(# in Deck)</span></li>
                    <li class="added-card">Card Name <span class="card-count">(# in Deck)</span></li>
                    <li class="added-card">Card Name <span class="card-count">(# in Deck)</span></li>
                    <li class="added-card">Card Name <span class="card-count">(# in Deck)</span></li>
                </ul> --}}
            </div>
        </div>
    </section>
</main>

{{!-- Sign out modal --}}
<div class="modal fade" id="sign-out-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
{{> signoutModal}}
</div>

{{!-- Save desklist modal --}}
<div class="modal fade" id="decklist-save-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
{{> decklistSaveModal}}
</div>

{{!-- Delete decklist modal --}}
<div class="modal fade" id="decklist-delete-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
{{> decklistDeleteModal}}
</div>

<script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="../js/decklist.js"></script>
<script src="../js/logout.js"></script>