<header class="container-fluid">
        <h1 class="display-2 text-center">MTG++ Decks</h1>
        <p class="text-end mp3-hex">"Greatness, at any cost" - Dark Confidant</p>
    </header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Wizards of the Cache</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse flex-row-reverse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <button id="create-deck" class="nav-link px-5 decks-btns">
                        Create Deck
                        <iconify-icon icon="charm:cards"></iconify-icon>
                    </button>
                    <button id="sign-out" class="nav-link decks-btns" data-bs-toggle="modal" data-bs-target="#sign-out-modal">Sign Out</button>
                </div>
            </div>
        </div>
    </nav>
    <main class="container">
        <section class="row pt-5">
            <div class="card deck-bg">
                <div class="card-body">
                    <h5 class="card-title text-center deck-title">My Decks</h5>
                    <ul class="list-group">
                        {{!-- iterate through decks that belong to the current user and insert into document --}}
                        {{#each decks as |Deck|}}
                        <li class="list-group-item deck-names py-3 d-flex justify-content-between">
                            <p class="deck-link">{{deck_name}}</p>
                            <span>
                                <button class="editBtn" data-edit-deck-id = "{{id}}">
                                    <iconify-icon icon="fa-regular:edit"></iconify-icon>
                                </button>
                                <button class="deleteBtn" data-deck-id ="{{id}}">
                                    <iconify-icon icon="fluent:delete-off-20-regular"></iconify-icon>
                                </button>
                            </span>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </section>
    </main>

    {{!-- Sign out modal --}}
    <div class="modal fade" id="sign-out-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Signed Out</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>You have been successfully signed out!</p>
        </div>
        <div class="modal-footer">
            <button id="signoutOkay" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Okay</button>
        </div>
        </div>
    </div>
    </div>
    
    <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="./js/decks.js"></script>
    <script src="./js/logout.js"></script>