<header class="container-fluid">
    <h1 class="display-2 text-center">Magic: the Gathering Deck Creation</h1>
    <p class="text-end mp3-hex">All of your favorite decks in one place.</p>
</header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand wrapped" href="/">Wizards of the Cache</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse flex-row-reverse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/login">Sign In</a>
                </div>
            </div>
        </div>
    </nav>
    <br>
    <div class="container-fluid d-flex justify-content-center">
    <div class="loginPortal">
        <form class="signup-form">
            <div class="mb-3">
                <label for="username-signup" class="form-label navbar-brand" style="color: #100626;">User Name</label>
                <input type="text" class="form-control" id="username-signup" aria-describedby="userHelp">
                <div id="userHelp" class="form-text">May only contain letters and/or numbers.</div>
            </div>
            <div class="mb-3">
                <label for="email-signup" class="form-label navbar-brand" style="color: #100626;">Email Address</label>
                <input type="email" class="form-control" id="email-signup" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="password-signup" class="form-label navbar-brand" style="color: #100626;">Password</label>
                <input type="password" class="form-control" id="password-signup">
                <div id="passwordHelp" class="form-text">Must be 8-20 characters long.</div>
            </div>
            <div class="mb-3">
                <label for="confirm-password" class="form-label navbar-brand" style="color: #100626;">Confirm Password</label>
                <input type="password" class="form-control" id="confirm-password">
                <div id="passwordHelp" class="form-text"></div>
            </div>
            <button id="register-btn" type="submit" class="btn">Register</button>
        </form>
    </div>
    </div>
    <script src="./js/register.js"></script>