:root {
    /* Color Splash variables */
    --mp1: #E68DF2;
    --mp2: #AE4AD9;
    --mp3: #5A278C;
    --mp4: #100626;
    --mp5: #2A1459;

    /* Northern Lights variables */
    --am1: #04BF9D;
    --am2: #04BFAD;
    --am3: #027373;
    --am4: #5FCDD9;
    --am5: #172026;
}
/* Color Splash in HEX */
.mp1-hex {
    color: #E68DF2;
}

.mp2-hex {
    color: #AE4AD9;
}

.mp3-hex {
    color: #5A278C;
}

.mp4-hex {
    color: #100626;
}

.mp5-hex {
    color: #2A1459;
}

/* Northern lights in HEX */
.am1-hex {
    color: #04BF9D;
}

.am2-hex {
    color: #04BFAD;
}

.am3-hex {
    color: #027373;
}

.am4-hex {
    color: #5FCDD9;
}

.am5-hex {
    color: #172026;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #172026;
}

header {
    background: url('../assets/images/homepage-header-image.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #100626;
    border-bottom: #5A278C solid 5px;
}

header h1 {
    font-family: 'Cinzel', serif;
    color: #f2f2f2;
    text-shadow:
        0 0 7px #04BFAD,
        0 0 10px #04BFAD,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #04BFAD;
}

header p {
    font-family: 'Merienda', serif;
    font-size: 1.75rem;
}

footer {
    height: 150px;
    background-color: #172026;
}

nav {
    background-color: var(--mp5);
}

.carousel-inner {
    margin: auto;
    width: 25%;
    max-height: 400px !important;
}

.nav-link {
    color: #f2f2f2;
    font-family: 'Gruppo', serif;
    font-size: 1.5rem;
    text-shadow:
        0 0 2px #04BFAD,
        0 0 5px #fff,
        0 0 8px #0fa;
}

.navbar-brand {
    color: #f2f2f2;
    font-family: 'Cinzel', serif;
    font-size: 2rem;
    text-shadow:
        0 0 2px #04BFAD,
        0 0 5px #fff,
        0 0 10px #0fa;
}
/* Styling for the titles used on decks and decklist pages */
.deck-title {
    font-family: 'Cinzel', serif;
    color: #f2f2f2;
    text-shadow:
        0 0 7px #04BFAD,
        0 0 10px #04BFAD,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #04BFAD;
    font-size: 200%;
}
/* bg color for the card used on decks page */
.deck-bg {
    background-color: var(--mp5);
    border: 3px solid var(--mp3);
}
.deck-names {
    background-color: var(--am5);
    color: var(--mp1);
    border: none;
    margin-bottom: 2%;
    font-family: 'Merienda', serif;
}
.editBtn {
    color: var(--mp1);
    background-color: transparent;
    border: transparent;
}
.editBtn:hover {
    color: white;
}
.deleteBtn {
    color: var(--mp1);
    background-color: transparent;
    border: transparent; 
}
.deleteBtn:hover {
    color: white;
}
.deck-link:hover {
    color: white;
    cursor: pointer;
}