<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <!-- Custom Style Sheet -->
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <header class="text-center">
        <h1>MTG++ Decks</h1>
    </header>
    <nav class="navbar bg-light">
        <div class="container-fluid">
            <button>Logout</button>
            <button id="create-deck">
                Create Deck
                <iconify-icon icon="charm:cards"></iconify-icon>
            </button>
        </div>
    </nav>
    <main class="container">
        <section class="row pt-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">User Name's Decks</h5>
                    <ul class="list-group">
                        <li class="list-group-item">An item <span>
                                <iconify-icon icon="fa-regular:edit"></iconify-icon>
                                <iconify-icon class="deleteBtn justify-content-end d-flex" icon="fluent:delete-off-20-regular"></iconify-icon>
                            </span></li>
                        <li class="list-group-item">A second item<span>
                                <iconify-icon icon="fa-regular:edit"></iconify-icon>
                                <iconify-icon class="deleteBtn justify-content-end d-flex" icon="fluent:delete-off-20-regular"></iconify-icon>
                            </span></li>
                        <li class="list-group-item">A third item<span>
                                <iconify-icon icon="fa-regular:edit"></iconify-icon>
                                <iconify-icon class="deleteBtn justify-content-end d-flex" icon="fluent:delete-off-20-regular"></iconify-icon>
                            </span></li>
                        <li class="list-group-item">A fourth item<span>
                                <iconify-icon icon="fa-regular:edit"></iconify-icon>
                                <iconify-icon class="deleteBtn justify-content-end d-flex" icon="fluent:delete-off-20-regular"></iconify-icon>
                            </span></li>
                        <li class="list-group-item">And a fifth one<span>
                                <iconify-icon icon="fa-regular:edit"></iconify-icon>
                                <iconify-icon class="deleteBtn justify-content-end d-flex" icon="fluent:delete-off-20-regular"></iconify-icon>
                            </span></li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
    <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>

</body>

</html>