<div id="carouselImages"></div>
<script type="text/handlebar-template" id="imagesTemplate"></script>
<div class="carousel-item active">
    {{#each randomImages}}
    <img src="{{randomImages}}">
    {{/each}}
</div>
